
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003366;
    color: white;
    padding: 10px 10px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    padding-left: 303px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-right: 600px;
  }
  
  .nav-links li {
    display: flex;
    align-items: center;
  }
  
  .nav-links a, .header-right a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  .nav-links input[type="search"] {
    padding: 5px;
    margin-left: 20px;
  }
  
  .header-right {
    display: flex;
    gap: 30px;
    margin-right: 100px;
  }
  .about-link{
    max-width: 470px;
  }
  .header-value{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
  }
.header-value li{
  margin-right: 50px;
  font-size: 16px;
}
